.intro{
display: flex;
height: 100vh;
}
.introLeft{
    flex: 1;
}
.introRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48%;
    padding: 27% 15% 0;
}
.intro h2{
    font-size: 30px;
    margin: 0;
}
.intro h1 {
    font-size: 56px;
    margin: 0;
}
.introsection{
    height: 50px;
    overflow: hidden;
}
.title-wrapper{
    height: 100%;
    animation: move 5s ease-in-out infinite alternate;
}
.profileimg{
    flex: 1;
}
.profileimginner img{
    display:none;
    width:50%;
    height:50%;
    object-fit: cover;
    padding: 62px;
    border-radius: 50%;
}
@keyframes  move {
    25%{
        transform:translateY(-50px);
    }
    50%{
        transform:translateY(-100px);
    }
   
    /* 100%{
        transform:translateY(-200px);
    } */
}
.title-item{
    height: 36px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(8, 70, 85);
    display: flex;
    align-items: center;
    padding: 7px;
    /* background-color: blueviolet; */
}
.profileimginner{
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: rgb(8, 70, 85);
    height: 100%;
    width: 100%;
}